header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 50px;
}

li {
    width: 100px;
    display: inline-block;
    text-align: center;
}

.search input {
    padding: 5px;
    font-size: 1em;
}
